<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Content</string>
			<key>CFBundleTypeRole</key>
			<string>QLGenerator</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.applescript.script</string>
				<string>com.apple.applescript.text</string>
				<string>com.apple.ascii-property-list</string>
				<string>com.apple.audio-unit-preset</string>
				<string>com.apple.chess.game</string>
				<string>com.apple.chess.pgn</string>
				<string>com.apple.configprofile</string>
				<string>com.apple.configurationprofiles.profile</string>
				<string>com.apple.crashreport</string>
				<string>com.apple.device-model-code</string>
				<string>com.apple.finalcutpro.colorboard</string>
				<string>com.apple.finalcutpro.xml</string>
				<string>com.apple.gpurestart</string>
				<string>com.apple.hangreport</string>
				<string>com.apple.haptics.ahap</string>
				<string>com.apple.iig-source</string>
				<string>com.apple.ips</string>
				<string>com.apple.log</string>
				<string>com.apple.mobileconfig</string>
				<string>com.apple.music.metadata</string>
				<string>com.apple.nspboard-type</string>
				<string>com.apple.ostype</string>
				<string>com.apple.panicreport</string>
				<string>com.apple.preference.network</string>
				<string>com.apple.provisionprofile</string>
				<string>com.apple.rez-source</string>
				<string>com.apple.shutdownstall</string>
				<string>com.apple.spinreport</string>
				<string>com.apple.symbol-export</string>
				<string>com.apple.systemprofiler.document</string>
				<string>com.apple.terminal.shell-script</string>
				<string>com.apple.traditional-mac-plain-text</string>
				<string>com.apple.tv.metadata</string>
				<string>com.apple.xml-property-list</string>
				<string>com.netscape.javascript-source</string>
				<string>com.sun.java-source</string>
				<string>com.sun.java-web-start</string>
				<string>public.ada-source</string>
				<string>public.assembly-source</string>
				<string>public.bash-script</string>
				<string>public.c-header</string>
				<string>public.c-plus-plus-header</string>
				<string>public.c-plus-plus-inline-header</string>
				<string>public.c-plus-plus-source</string>
				<string>public.c-plus-plus-source.preprocessed</string>
				<string>public.c-source</string>
				<string>public.c-source.preprocessed</string>
				<string>public.case-insensitive-text</string>
				<string>public.comma-separated-values-text</string>
				<string>public.content</string>
				<string>public.csh-script</string>
				<string>public.css</string>
				<string>public.data</string>
				<string>public.delimited-values-text</string>
				<string>public.dylan-source</string>
				<string>public.filename-extension</string>
				<string>public.fortran-77-source</string>
				<string>public.fortran-90-source</string>
				<string>public.fortran-95-source</string>
				<string>public.fortran-source</string>
				<string>public.json</string>
				<string>public.ksh-script</string>
				<string>public.lex-source</string>
				<string>public.mig-source</string>
				<string>public.mime-type</string>
				<string>public.objective-c-plus-plus-source</string>
				<string>public.objective-c-plus-plus-source.preprocessed</string>
				<string>public.objective-c-source</string>
				<string>public.objective-c-source.preprocessed</string>
				<string>public.pascal-source</string>
				<string>public.patch-file</string>
				<string>public.perl-script</string>
				<string>public.php-script</string>
				<string>public.plain-text</string>
				<string>public.precompiled-c-header</string>
				<string>public.precompiled-c-plus-plus-header</string>
				<string>public.python-script</string>
				<string>public.rss</string>
				<string>public.rtf</string>
				<string>public.ruby-script</string>
				<string>public.script</string>
				<string>public.shell-script</string>
				<string>public.source-code</string>
				<string>public.source-code.preprocessed</string>
				<string>public.swift-source</string>
				<string>public.tab-separated-values-text</string>
				<string>public.tcsh-script</string>
				<string>public.text</string>
				<string>public.unix-executable</string>
				<string>public.utf16-external-plain-text</string>
				<string>public.utf16-plain-text</string>
				<string>public.utf8-plain-text</string>
				<string>public.utf8-tab-separated-values-text</string>
				<string>public.x509-printable-encoded-archive</string>
				<string>public.xfd</string>
				<string>public.xhtml</string>
				<string>public.xml</string>
				<string>public.yacc-source</string>
				<string>public.yaml</string>
				<string>public.zsh-script</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QLStephen</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.1</string>
	<key>CFBundleVersion</key>
	<string>1.5.1</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>0CCF41BD-5E94-487C-B19D-FAADBD387609</key>
		<string>QuickLookGeneratorPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
		<array>
			<string>0CCF41BD-5E94-487C-B19D-FAADBD387609</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Duncan Robertson. All rights reserved.</string>
	<key>QLNeedsToBeRunInMainThread</key>
	<true/>
	<key>QLPreviewHeight</key>
	<real>600</real>
	<key>QLPreviewWidth</key>
	<real>800</real>
	<key>QLSupportsConcurrentRequests</key>
	<true/>
	<key>QLThumbnailMinimumSize</key>
	<real>17</real>
</dict>
</plist>
